<!--
  Generated template for the ChangepasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Change Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-bounce>
<form [formGroup]="changePasswordForm">
  <div ion-fixed style="height: 100%; width: 100%">
    <ion-list  padding>
        <ion-row *ngIf="editErrorMsg != ''">
            <ion-col text-center><p class="error">{{editErrorMsg}}</p></ion-col>
            </ion-row>

            <ion-row *ngIf="editSuccessMsg != ''">
            <ion-col text-center><p class="success-msg">{{editSuccessMsg}}</p></ion-col>
            </ion-row>  
      <ion-item class="p0">
        <ion-label color="lightCCC" floating>Old Password</ion-label>
        <ion-input value="" [formControl]="changePasswordForm.controls['user_old_password']">
    </ion-input>
      </ion-item>
      <ion-item class="p0">
        <ion-label color="lightCCC" floating>New Password</ion-label>
        <ion-input value="" [formControl]="changePasswordForm.controls['user_new_password']">
    </ion-input>
      </ion-item>
      <ion-item class="p0">
        <ion-label color="lightCCC" floating>Confirm Password</ion-label>
        <ion-input value="" [formControl]="changePasswordForm.controls['user_confirm_password']">
    </ion-input>
      </ion-item>
      </ion-list>
     <p class="fixed-bottom-button">
    <button ion-button  full [color]="primary" (click)="changePasswordInfo()"  class="normal-button50">Update</button>
    </p>
    </div>
</form>
</ion-content>
