<!--
  Generated template for the AddressbookPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Address Book</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="container-gray">
<ion-row class="container-white" (click)="clickaddadress()">
<ion-col>
<div class="media p10">
<img src="assets/icon/circle-plus.png" class="w20 pull-left mr10">
<span style="line-height:22px;">Add New Address</span>
</div>
</ion-col>
</ion-row>
<div radio-group [(ngModel)]="selectedChildId">
<ion-row class="container-white mt10"  *ngFor="let element of userAddresses" >
<ion-col>
<div class="media p10">
<ion-radio *ngIf="showAddressbookSelect"  class="radio radio-inline radio-blue" (click)="selectAddressForCart(element)" value="{{element.ab_id}}">  </ion-radio> 

<div class="adress-type" *ngIf="element.ab_type == 1">Home</div>
<div class="adress-type" *ngIf="element.ab_type == 2">Work (Delivery Between 10 am - 5 am)</div>
<div class="adress-type" *ngIf="element.ab_type == 3">Other</div>
<h1 *ngIf="element.ab_type == 3">{{element.ab_name}}</h1>
<p>{{element.ab_houseno}},<br> {{element.ab_locality}},<br> {{element.ab_address}}</p>
<button ion-button (click)="editAddress(element)" >Edit</button>
<button ion-button  (click)="removeAddress(element.ab_id)"  color="danger">Remove</button>
</div>
</ion-col>
</ion-row>
</div>

</ion-content>
<ion-footer *ngIf="showAddressbookSelect">
 <p ion-fixed class="fixed-bottom-button">
<button ion-button  full [color]="primary" (click)="selectdefaultAddress()"  class="normal-button50">SELECT</button>
</p>
</ion-footer>
