<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cart</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="container-gray">

<div style="height:100%;text-align:center;" class="container-white" *ngIf="showEmptyCartMessage">
<div>
<img src="assets/imgs/empty_cart.png" style="margin-top: 40px;padding: 30px;">
<h6 class="Open_Sans_Bold" style="font-size:1.1rem">GOOD FOOD AND WINE IS WAITING FOR YOU</h6>
<p class="open-sans-normal" style="color:#ccc;font-size:12px">Your cart is empty, Add something from the menu.</p>
</div>
</div>

<div *ngIf="!showEmptyCartMessage">
<ion-row class="container-white"  *ngIf="showaddadressbutton">
<ion-col>
<div class="media p10">
<div class="adress-type" *ngIf="userAddressInfo.ab_type == 1">Home</div>
<div class="adress-type" *ngIf="userAddressInfo.ab_type == 2">Work (Delivery Between 10 am - 5 am)</div>
<div class="adress-type" *ngIf="userAddressInfo.ab_type == 3">Other</div>


<h4 *ngIf="userAddressInfo.ab_type == 3">{{userAddressInfo.ab_name}}</h4>
<p>{{userAddressInfo.ab_address}}, {{userAddressInfo.ab_city}}, {{userAddressInfo.ab_state}}, {{userAddressInfo.ab_pincode}}</p>

<button ion-button full (click)="clickaddadress()" class="checkout-button" >Change or Add Address</button>
</div>
</ion-col>
</ion-row>
 <ion-row class="container-white border-bottom-1" (click)="clickaddadress()" *ngIf="!showaddadressbutton">
<ion-col>
<div class="media p10">
<img src="assets/icon/circle-plus.png" class="w20 pull-left mr10">
<span style="line-height:22px;">Add New Address</span>
</div>
</ion-col>
</ion-row> 
<div  class="container-white mt10 mb-10">
<ion-row   class="border-bottom-1" *ngFor="let cItem of cartItems; let i = index">
<ion-col col-9>
<div class="media p10">
<img class="pull-left mr10" style="width:40px;height: 40px;"  src="http://shopkiee.com/project/fandd/webroot/img/uploads/product_image/{{cItem.product.product_image1}}">
<div class="mb5">{{cItem.product.product_name}} <span *ngIf="cItem.variation_label">({{cItem.variation_label}})</span>  </div>
<span id="price" class="mt5">₹{{lineTotal(cItem)}}</span>
</div>
</ion-col>
<ion-col col-3 class="p10">
<div style="border: 1px solid #d8d8d8; width:75px; margin-top:12px; margin-right:5px;" class="pull-right">
<div class="qty-badge" >
<ion-icon name="remove" (click)="decrement(i)" ></ion-icon>
{{cItem.qty}}
<ion-icon name="add" (click)="increment(i)" ></ion-icon>
</div>
</div>

</ion-col>
</ion-row>

<ion-row   class="border-bottom-1" *ngFor="let cartAddonItem of cartAddonItems; let i = index">
<ion-col col-9>
<div class="media p10">
<img class="pull-left mr10" style="width:40px;height: 40px;"  src="{{addonImagePath}}{{cartAddonItem.addon.ap_image}}">
<div class="mb5">{{cartAddonItem.addon.ap_title}}</div>
<span id="price" class="mt5">₹{{addonLineTotal(cartAddonItem)}}</span>
</div>
</ion-col>
<ion-col col-3 class="p10">
<div style="border: 1px solid #d8d8d8; width:75px; margin-top:12px; margin-right:5px;" class="pull-right">
<div class="qty-badge" >
<ion-icon name="remove" (click)="decrementAddon(cartAddonItem, i)" ></ion-icon>
{{cartAddonItem.qty}}
<ion-icon name="add" (click)="incrementAddon(cartAddonItem, i)" ></ion-icon>

</div>
</div>

</ion-col>
</ion-row>
</div>

<div  class="container-gray  mb-10">
<p class="ml10" style="font-size: 18px;font-weight:500;margin-bottom:10px;">ADD-ONS </p>
<ion-slides class="color-white ">
<div class="s" *ngFor="let addonItem of addonItems; let i = index">
<ion-slide  class="ion-slide-addon" *ngIf="!addonInCart(addonItem)"> 
<ion-card style="color: #fff;text-align: left;box-shadow:none">
<div class="add-on-img-box">
<img src="{{addonImagePath}}{{addonItem.ap_image}}" style="width:100%;margin-bottom:5px;height:125px;">
<div class="add-on-text">
<p style="margin-top:3px;font-weight:500;color:#fff">{{addonItem.ap_title}}</p>
<span style="font-weight:bold;font-size:13px;color:#fff">₹{{addonItem.ap_price}}</span>
</div>
</div>
<div style="background:#000;text-align:center;padding:10px;;color:#fff" *ngIf="!addonInCart(addonItem)" (click)="addAddonToCart(addonItem, addonItem.ap_price, i)">ADD</div>

<div class="qty-badge addon-qty-color" *ngIf="addonInCart(addonItem)">
<ion-icon name="remove" (click)="decrementAddon(addonItem, i)" ></ion-icon>
{{addonCartQty(i)}}
<ion-icon name="add" (click)="incrementAddon(addonItem, i)" ></ion-icon>
</div> 
</ion-card>
</ion-slide></div>
 </ion-slides>

</div>



<ion-row class="container-white" (click)="clickpromocode()" *ngIf="!cartUserPromoCode">
<ion-col>
<div class="media p10">
<img src="assets/icon/discount.png" class="w20 pull-left mr10">
<span style="line-height:22px;">Apply Promocode/offers </span>
<img src="assets/icon/right-arrow.png" class="w20 pull-right">
</div>
</ion-col>
</ion-row>
<ion-row class="container-white" *ngIf="cartUserPromoCode">
<ion-col>
<div class="media p10">
<img src="assets/icon/discount.png" class="w20 pull-left mr10" style="margin-top:9px;">
<span style="line-height:18px; font-size:16px;font-weight:500px">{{cartUserPromoCode}} <br><span style="font-size:12px; color:#999;font-weight:normal">Offer applied on the bill</span></span>

<img src="assets/icon/error.png" (click)="removePromocode()" class="w20 pull-right" style="margin-top:-9px;">
</div>
</ion-col>
</ion-row>


<div  class="container-white mt10 mb-100">
<ion-row   class="border-bottom-1">
<ion-col col-7>
<div class="media p10">
<strong>PRICE DETAILS </strong>
</div>
</ion-col>
</ion-row>
<ion-row   class="border-bottom-1">
<ion-col col-7>
<div class="media p10">
Price ({{totalItems}}) Item (s) 
</div>
</ion-col>
<ion-col col-5>
<div class="media p10" style="text-align:right">

₹{{total}}
</div>
</ion-col>
</ion-row>
<ion-row   class="border-bottom-1">
<ion-col col-7>
<div class="media p10">
Addon(s) Total
</div>
</ion-col>
<ion-col col-5>
<div class="media p10" style="text-align:right">
₹{{addonTotal}}
</div>
</ion-col>
</ion-row>
<ion-row   class="border-bottom-1">
<ion-col col-7>
<div class="media p10">
Delivery Charge 
</div>
</ion-col>
<ion-col col-5>
<div class="media p10" style="text-align:right">

₹{{deliveryCharge}}
</div>
</ion-col>
</ion-row>
<ion-row   class="border-bottom-1">
<ion-col col-7>
<div class="media p10">
Discount 
</div>
</ion-col>
<ion-col col-5>
<div class="media p10" style="text-align:right">

₹{{totalDiscount}}
</div>
</ion-col>
</ion-row>
<ion-row   class="border-bottom-1">
<ion-col col-7>
<div class="media p10">
<strong>Payable Amount</strong> 
</div>
</ion-col>
<ion-col col-5>
<div class="media p10" style="text-align:right">

<strong>₹{{grandTotal}}</strong> 
</div>
</ion-col>
</ion-row>

</div>





</div>

</ion-content>
<ion-footer *ngIf="!showEmptyCartMessage">
<p  ion-fixed class="fixed-bottom-button">
<ion-row class="container-white border-bottom-1" style="-webkit-box-shadow: 0px -10px 18px -13px rgba(0,0,0,0.4);
-moz-box-shadow: 0px -10px 18px -13px rgba(0,0,0,0.4);
box-shadow: 0px -10px 18px -13px rgba(0,0,0,0.4);">
<ion-col col-6>
<div class="media p10">
₹{{grandTotal}}<br>
<span style="line-height:22px;">View Detailed Bill</span>
</div>
</ion-col>
<ion-col col-6 class="pr-20">
<button ion-button   [color]="primary"  class="checkout-button m-10" (click)="checkout()">Checkout</button>
</ion-col>


</ion-row>
</p>
</ion-footer>
