<!--
  Generated template for the SignupfinalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Complete Registration</ion-title>
  </ion-navbar>

</ion-header>

<ion-content  padding >
    <p class="error">{{registerErrorMsg}}</p>
<form [formGroup]="registerForm">     
    <ion-list>
      <ion-item class="p0">
        <ion-label color="lightCCC" floating>10 digit mobile number</ion-label>
        <ion-input type="text" [formControl]="registerForm.controls['user_mobile_number']" [readonly]="userData.phoneno!=''" value="{{userData.phoneno}}">
    </ion-input>
      </ion-item>
      <ion-item class="p0">
        <ion-label color="lightCCC" floating>First Name</ion-label>
        <ion-input type="text" [formControl]="registerForm.controls['user_first_name']">
    </ion-input>
      </ion-item>
      <ion-item class="p0">
        <ion-label color="lightCCC" floating>Last Name</ion-label>
        <ion-input type="text" [formControl]="registerForm.controls['user_last_name']">
    </ion-input>
      </ion-item>
      <ion-item class="p0">
        <ion-label color="lightCCC" floating>Email Address</ion-label>
        <ion-input type="email" [formControl]="registerForm.controls['user_email']">
    </ion-input>
      </ion-item>
      <ion-item class="p0">
        <ion-label color="lightCCC" floating>Password</ion-label>
        <ion-input  type="password" [formControl]="registerForm.controls['user_password']">
    </ion-input>
      </ion-item>
      </ion-list>
    <p>
    <ion-checkbox (click)="haveReferral?haveReferral=false:haveReferral=true" class="mt5"></ion-checkbox>
    <span class="ml5">Have any referral code?</span>
    <ion-list *ngIf="haveReferral">
    <ion-item class="p0">
        <ion-label color="lightCCC" floating>Referral Code</ion-label>
        <ion-input  type="text"  [formControl]="registerForm.controls['user_ref_id']" >
    </ion-input>
      </ion-item>
      </ion-list>

    </p>
    <p>
    <button ion-button  [color]="primary" (click)="registerUser()" class="login-button">Signup</button>
    </p> 
</form>  
<ion-row *ngIf="registerErrorMsg != ''">
    <ion-col text-center><p class="error">{{registerErrorMsg}}</p></ion-col>
</ion-row>    
</ion-content>
