page-rmenu {

.button-outline-md-secondary
{
border-color: #d8d8d8;
color:#7BC242
}
.bottom-cart-detail
{
height:60px;
background:#7BC242;
color:#fff;
}
.toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
}
}
