<!--
  Generated template for the RmenuPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header *ngIf="subHeaderShow">
 <ion-navbar >
 
<ion-title><ion-icon (click)="backButtonAction()" name="arrow-back" style="margin-top: 0px;font-size: 25px;margin-left: 13px;color: #424242;"></ion-icon> {{sellerInfo.se_store_name}}</ion-title>
</ion-navbar>
<ion-row *ngIf="subHeaderShow && category_list.length > 1">

<ion-col style="overflow-x:scroll;position:relative;padding:0px">
<ion-slides slidesPerView="6.5" #catTabSlides class="menu-slide">
                    <ion-slide (click)="filterData(0)" >
                        <p [class.tabcat-selected]="selectedCategoryId === 0" style="font-size: 13px;padding: 10px 0px;margin: 0;color:#666;">Recommended</p>
                    </ion-slide>
                    <ion-slide (click)="filterData(category_tab.category_id)" *ngFor="let category_tab of category_list; let k= index">
                        <p [class.tabcat-selected]="selectedCategoryId === category_tab.category_id" style="font-size: 13px;padding: 10px 0px;margin: 0;color:#666;">{{category_tab.category_name}}</p>
                    </ion-slide>
					
                </ion-slides>

</ion-col>
</ion-row>
</ion-header>





<ion-content fullscreen #myContent class="container-white" (ionScroll)="onPageScroll($event)">

<ion-row style="position: absolute;top: 10px;z-index: 999999999999999999;" [class.show-sub-header]="subHeaderShow">
<ion-col (click)="backButtonAction()">
<ion-buttons left >
<ion-icon name="arrow-back" style="margin-top: 0px;font-size: 25px;margin-left: 13px;color: #fff;"></ion-icon>
</ion-buttons>
</ion-col>
</ion-row>


<div class="merchent-details" [class.show-sub-header]="subHeaderShow">
<div class="merchent-details-banner">
<img src="{{sellerInfo.seller_img_base_url}}{{sellerInfo.seller_image}}">
</div>
<div class="merchent-details-content">
<h3>{{sellerInfo.se_store_name}}</h3>
<div class="merchent-location giveMeEllipsis">{{sellerInfo.seller_store_address}}</div>
<div class="merchent-delivery-details">
<img src="assets/icon/clock.png" style="width:16px;margin-right:5px;"> 40-50 MINS | 3.4 <img src="assets/icon/star.png" style="width:16px; margin-right:5px;margin-left:5px;"> (500+)
</div>
</div>
</div>

  


<div class="container-white" >
<div class="media p10">
<ion-row id="cat_div_0">
<ion-col>
<h5>Recommended</h5>
</ion-col>
</ion-row>

<ion-row>
<ion-col col-6 class="p5 " style="margin-bottom:15px" *ngFor="let productItem of productList; let i = index"  #slidingItem>
<img src="{{product_image_path}}{{productItem.product_image1}}" style="width:100%;height:160px;margin-bottom:5px;">
<span style="font-size:9px; color:#666;">{{productItem.brand_name}}</span>
<p class="menu-slide ion-slide">{{productItem.product_name}}</p>
<div class="product-footer">
<div class=" pull-left " style=""><span style="font-weight:bold;font-size:13px;color:#333">₹{{productItem.pmp_net_price}}</span><br> <span style="text-decoration: line-through; color:#666;font-size:9px;">₹{{productItem.pmb_selling_price}}</span> </div>
<div style="border: 1px solid #d8d8d8; width:75px" class="pull-right">
<div class="qty-badge" *ngIf="isItemQty(productItem)"  >
<ion-icon name="remove" (click)="decrement(i)" ></ion-icon>
{{getItemQty(i)}}
<ion-icon name="add" (click)="increment(i)" ></ion-icon>
</div>
<div  *ngIf="productItem.child.length==0 && !isItemQty(productItem)" style="width:100%;padding:5px; text-align:center;font-weight: bold;font-size: 13px;color: #7BC242;height: 26px;"  (click)="addToCart(productItem,productItem.pmp_net_price, 0, '')" >ADD</div>
<div  *ngIf="productItem.child.length==1 && !isItemQty(productItem)" style="width:100%;padding:5px; text-align:center;font-weight: bold;font-size: 13px;color: #7BC242;height: 26px;"  (click)="addToCart(productItem,productItem.child[0].pmp_net_price, productItem.child[0].pmp_id, productItem.child[0].unit_name)" >ADD</div>
<div *ngIf="productItem.child.length>1 && !isItemQty(productItem)"    style="width:100%;padding:5px; text-align:center;font-weight: bold;font-size: 13px;color: #7BC242;height: 26px; position:relative;" (click)="openProductChildModal(productItem)">ADD<span class="plus-icon">+</span></div>

</div>

</div>
</ion-col>
</ion-row>
</div>
</div>


<div *ngFor="let category of category_list; let j = index">
<div class="clearfix" style="background-color: #f5f5f5;height: 10px;"></div>


<div class="container-white" >
<div class="media p10">
<ion-row id="cat_div_{{category.category_id}}">
<ion-col>
<h5 style="margin:5px 0px 10px">{{category.category_name}}</h5>
</ion-col>
</ion-row> 

<ion-row  *ngFor="let productItem of allresult[category.category_id]; let i = index" class="border-bottom-1" style="padding:10px 0px">
<ion-col col-9>
<span style="font-size:9px; color:#666;">{{productItem.brand_name}}</span>
<p style="font-weight:500; margin-top:3px;margin-bottom:10px;">{{productItem.product_name}}</p>
<div style=""><span style="font-weight:bold;font-size:13px;color:#333">₹{{productItem.pmp_net_price}}</span> <span style="text-decoration: line-through; color:#666;font-size:9px;">₹{{productItem.pmb_selling_price}}</span> </div>
<div style="border: 1px solid #d8d8d8; width:75px;margin-top:10px">
<div class="qty-badge" *ngIf="isItemQty(productItem)"  >
<ion-icon name="remove" (click)="decrementCatItem(i, category.category_id)" ></ion-icon>
{{getCatItemQty(i, category.category_id)}}
<ion-icon name="add" (click)="incrementCatItem(i, category.category_id)" ></ion-icon>
</div>
<div  *ngIf="productItem.child.length==0 && !isItemQty(productItem)" style="width:100%;padding:5px; text-align:center;font-weight: bold;font-size: 13px;color: #7BC242;height: 26px;"  (click)="addToCart(productItem,productItem.pmp_net_price, 0, '')" >ADD</div>
<div  *ngIf="productItem.child.length==1 && !isItemQty(productItem)" style="width:100%;padding:5px; text-align:center;font-weight: bold;font-size: 13px;color: #7BC242;height: 26px;"  (click)="addToCart(productItem,productItem.child[0].pmp_net_price, productItem.child[0].pmp_id, productItem.child[0].unit_name)" >ADD</div>
<div *ngIf="productItem.child.length>1 && !isItemQty(productItem)"    style="width:100%;padding:5px; text-align:center;font-weight: bold;font-size: 13px;color: #7BC242;height: 26px; position:relative;" (click)="openProductChildModal(productItem)">ADD<span class="plus-icon">+</span></div>

</div>
</ion-col>
<ion-col col-3>
<img src="{{product_image_path}}{{productItem.product_image1}}" style="width:100%;height:80px;">
</ion-col>
</ion-row>
</div>
</div>

</div>




<p  ion-fixed class="fixed-bottom-button" (click)="viewcart()" *ngIf="cartItems.length>0">
<ion-row class="container-white border-bottom-1" style="-webkit-box-shadow: 0px -10px 18px -13px rgba(0,0,0,0.4);
-moz-box-shadow: 0px -10px 18px -13px rgba(0,0,0,0.4);
box-shadow: 0px -10px 18px -13px rgba(0,0,0,0.4);">
<ion-col col-6>
<div class="media p10">
{{cartItems.length}} Item <br>
<span style="line-height:22px;">₹{{carttotalamount}}</span>
</div>
</ion-col>
<ion-col col-6 class="pr-20">
<button ion-button   [color]="primary"  class="checkout-button m-10"> VIEW CART <img src="assets/icon/shopping-bags.png" style="width:16px;margin-left:5px;">
</button>
</ion-col>


</ion-row>
</p>

 
 
</ion-content>