<!--
  Generated template for the RmenuPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header *ngIf="subHeaderShow">
 <ion-navbar hideBackButton>
 
<ion-title><ion-icon (click)="backButtonAction()" name="arrow-back" style="margin-top: 0px;font-size: 25px;margin-left: 13px;color: #424242;"></ion-icon> {{sellerInfo.se_store_name}}</ion-title>
</ion-navbar>
<ion-row *ngIf="subHeaderShow && category_list.length > 1">

<ion-col style="overflow-x:scroll;position:relative;padding:0px">
<ion-slides slidesPerView="5" #catTabSlides class="menu-slide">
                    <ion-slide (click)="filterData(0)" >
                        <p [class.tabcat-selected]="selectedCategoryId === 0" style="font-size: 13px;padding: 10px 0px;margin: 0;color:#666;">Recommended</p>
                    </ion-slide>
                    <ion-slide (click)="filterData(category_tab.category_id)" *ngFor="let category_tab of category_list; let k= index">
                        <p [class.tabcat-selected]="selectedCategoryId === category_tab.category_id" style="font-size: 13px;padding: 10px 0px;margin: 0;color:#666;">{{category_tab.category_name}}</p>
                    </ion-slide>
					
                </ion-slides>

</ion-col>
</ion-row>
</ion-header>





<ion-content fullscreen #myContent class="container-white" (ionScroll)="onPageScroll($event)">

<ion-row style="position: absolute;top: 10px;z-index: 999999999999999999;" [class.show-sub-header]="subHeaderShow">
<ion-col (click)="backButtonAction()">
<ion-buttons left >
<ion-icon name="arrow-back" style="margin-top: 0px;font-size: 25px;margin-left: 13px;color: #fff;"></ion-icon>
</ion-buttons>
</ion-col>
</ion-row>


<div class="merchent-details" [class.show-sub-header]="subHeaderShow">
<div class="merchent-details-banner">
<img src="{{sellerInfo.seller_img_base_url}}{{sellerInfo.seller_image}}">
</div>
<div class="merchent-details-content">
<h3>{{sellerInfo.se_store_name}}</h3>
<div  *ngIf="dataClosestatus" ><span class="overlay-slide-text" style="position:relative;">Closed</span></div>
<div   *ngIf="getInThisArea(userLocationInfo.lat,userLocationInfo.lng,sellerInfo.seller_latitude,sellerInfo.seller_longitude)" ><span class="overlay-slide-text" style="position:relative;">Out Of Delivery Area</span></div>

<div class="merchent-location giveMeEllipsis">{{sellerInfo.seller_store_address}}</div>
<div class="merchent-delivery-details">
<img src="assets/icon/clock.png" style="width:16px;margin-right:5px;"> {{sellerInfo.seller_deliver_duration}} <span *ngIf="sellerInfo.seller_rate>0">| {{sellerInfo.seller_rate}} <img src="assets/icon/star.png" style="width:16px; margin-right:5px;margin-left:5px;"> ({{sellerInfo.seller_rate_count}}+)</span>
</div>
</div>
</div>

  


<div class="container-white" >
<div class="media p10">
<ion-row id="cat_div_0"  *ngIf="productList.length>0">
<ion-col>
<h5>Recommended</h5>
</ion-col>
</ion-row>

<div class="pr-box">
<ion-row>
<ion-col col-6 class="p07" *ngFor="let productItem of productList; let i = index"  #slidingItem>
<div class="pr-box-product">
<div class="pr-box-product-img">
<img src="{{product_image_path}}{{productItem.product_image1}}">
</div>
<div class="pr-box-product-content" >
<span>{{productItem.brand_name}}</span>

<div class="pro-title giveMeEllipsis2">{{productItem.product_name}} ...</div>
<div class="pro-box-footer">
<div class="pro-box-footer-price">
<div class="price-new">₹{{productItem.pmp_net_price}}/<span style="font-weight:normal;color:#666;">{{productItem.child[0].unit_name}}</span>
</div>
<div class="price-old" *ngIf="productItem.pmb_selling_price!=productItem.pmp_net_price">₹{{productItem.pmb_selling_price}}</div>
</div>
<div class="pro-box-footer-qty" *ngIf="!dataClosestatus && !bind_error">
<div class="oty-add" *ngIf="productItem.child.length==0 && !isItemQty(productItem)" (click)="addToCartPrepare(productItem)">ADD</div>
<div class="oty-add" *ngIf="productItem.child.length==1 && !isItemQty(productItem)" (click)="addToCartPrepare(productItem)">ADD</div>
<div class="oty-add" *ngIf="productItem.child.length>1 && !isItemQty(productItem)" (click)="openProductChildModal(productItem)">ADD <span class="plus-icon">+</span></div>

<div class="oty-addpm" *ngIf="isItemQty(productItem) && !dataClosestatus && !bind_error">
<div class="pmb" (click)="decrement(i)"><img src="assets/imgs/substract.png"></div>
<div class="pmb-number">{{getItemQty(i)}}</div>
<div class="pmb" (click)="increment(i)"><img src="assets/imgs/add.png"></div>
</div>
</div>
</div>
</div>
</div>
</ion-col>
</ion-row>
</div>
</div>
</div>


<div *ngFor="let category of category_list; let j = index" style="margin-bottom:60px">
<div class="clearfix" style="background-color: #f5f5f5;height: 10px;margin-top: 0px;"></div>


<div class="container-white" >
<div class="media " style="padding:10px 10px 0px 10px">
<ion-row id="cat_div_{{category.category_id}}">
<ion-col>
<h5 style="margin:5px 0px 10px">{{category.category_name}}</h5>
</ion-col>
</ion-row> 

<ion-row  *ngFor="let productItem of allresult[category.category_id]; let i = index" class="border-bottom-1" style="padding:10px 0px">
<ion-col col-9>
<span style="font-size:9px; color:#666;">{{productItem.brand_name}}</span>
<span  style="font-size:9px; color:#666;">{{productItem.child[0].unit_name}}</span>

<p class="menu-product-title-full" style="height:auto">{{productItem.product_name}}  </p>
<div style=""><span style="font-weight:bold;font-size:13px;color:#333">₹{{productItem.pmp_net_price}}/<span style="font-weight:normal;color:#666;" >{{productItem.child[0].unit_name}}</span>
</span> <span style="text-decoration: line-through; color:#666;font-size:9px;" *ngIf="productItem.pmb_selling_price!=productItem.pmp_net_price">₹{{productItem.pmb_selling_price}}</span> </div>

<div class="pro-box-footer-qty" *ngIf="!dataClosestatus && !bind_error" style="float:left;margin-top:10px;">
<div class="oty-add" *ngIf="productItem.child.length==0 && !isItemQty(productItem)" (click)="addToCartPrepare(productItem)">ADD</div>
<div class="oty-add" *ngIf="productItem.child.length==1 && !isItemQty(productItem)" (click)="addToCartPrepare(productItem)">ADD</div>
<div class="oty-add" *ngIf="productItem.child.length>1 && !isItemQty(productItem)" (click)="openProductChildModal(productItem)">ADD <span class="plus-icon">+</span></div>

<div class="oty-addpm" *ngIf="isItemQty(productItem) && !dataClosestatus && !bind_error">
<div class="pmb" (click)="decrementCatItem(i, category.category_id)"><img src="assets/imgs/substract.png"></div>
<div class="pmb-number">{{getCatItemQty(i, category.category_id)}}</div>
<div class="pmb" (click)="incrementCatItem(i, category.category_id)"><img src="assets/imgs/add.png"></div>
</div>
</div>



</ion-col>
<ion-col col-3>
<img src="{{product_image_path}}{{productItem.product_image1}}" style="width:100%;height:80px;" *ngIf="productItem.product_image1!=''">
</ion-col>
</ion-row>
</div>
</div>

</div>






 <ion-row class="container-gray" style="margin-bottom: 67px !important;" *ngIf="sellerInfo.seller_fssai!=''">
 <ion-col col-4>
<img src="assets/imgs/fssailogo.png">
 </ion-col>
 
 <ion-col col-6>
<p style="padding:10px;color:#9e9e9e">{{sellerInfo.seller_fssai}}</p>
 </ion-col>
 </ion-row>
 
</ion-content>
<ion-footer>
<p  ion-fixed class="fixed-bottom-button" (click)="viewcart()" *ngIf="cartItems.length>0 && sellerInfo.dh_close_status == 0">
<ion-row class="container-white border-bottom-1" style="-webkit-box-shadow: 0px -10px 18px -13px rgba(0,0,0,0.4);
-moz-box-shadow: 0px -10px 18px -13px rgba(0,0,0,0.4);
box-shadow: 0px -10px 18px -13px rgba(0,0,0,0.4);">
<ion-col col-6>
<div class="media p10">
{{cartItems.length}} Item <br>
<span style="line-height:22px;">₹{{carttotalamount}}</span>
</div>
</ion-col>
<ion-col col-6 class="pr-20">
<button ion-button   [color]="primary"  class="checkout-button m-10"> VIEW CART 
</button>
</ion-col>


</ion-row>
</p>
</ion-footer>