page-home {
ion-slides {
    display: block;
    width: 100%;
    height: auto;
}
.toolbar-title-md {
    padding:8px 12px 0px;
    font-size: 1.5rem;
    font-weight: 500;

}

.ion-slide
{
width: 200px;
margin-right: -10px;
}
.slide-zoom{
height:100%;
}
}
