<ion-header class="header">
<ion-navbar>
<ion-row>
<ion-col col-9>
<div class="location-content-header" (click)="opendetectlocation()">
<p>Now <ion-icon name="arrow-down" class="now-icon"></ion-icon></p>
<span >{{userLocationInfo.address.substring(0,40)}}...</span>
</div>
</ion-col>
<ion-col col-3>
<ion-buttons end class="icon-button-top">
<button ion-button icon-only (click)="mycartMethod()" class="cartimg-box">
<img src="assets/icon/shopping-cart.png" class="cart-icon-img">
<div class="cart-cont" *ngIf="cartcount != 0">{{cartcount}}</div>
</button>
</ion-buttons>
</ion-col>
</ion-row>

</ion-navbar>
</ion-header> 

<ion-content class="bg-gray">
<div *ngIf="dashboardDatashowstatus">
<ion-slides class="color-white mb-10" pager="true">
<ion-slide *ngFor="let sliderItem of dashboardData.slider" class="width100"> 
<ion-card style="height:150px;" class="card-md-slider">
  <img src="{{dashboardData.slider_url}}{{sliderItem.slider_image}}" style="width: 100%;">
</ion-card>
</ion-slide>
</ion-slides>


<div class="page-box slier-box-content mb-10" *ngIf="filterRestrauntByTypeAndStreet(0).length>0" >
<div class="page-box-title" text-center><h5>Popular Street Food Near You</h5></div>
<ion-slides class="color-white " [slidesPerView]="1.2">
<ion-slide *ngFor="let merchantItem of filterRestrauntByTypeAndStreet(0)" > 
<ion-card text-left>
<div class="product-home-box" (click)="productListPage(merchantItem)">
<div class="product-home-box-img"><img src="{{dashboardData.seller_url}}{{merchantItem.seller_image}}" ></div>
<div class="product-home-box-content">
<h3>{{merchantItem.se_store_name}}</h3>
<p class="giveMeEllipsis" *ngIf="merchantItem.seller_store_address!=''">{{merchantItem.seller_store_address}}...</p>
<span><ion-icon name="time"></ion-icon> {{merchantItem.seller_deliver_duration}}</span>
</div>
</div>
</ion-card>
</ion-slide>
<ion-slide   (click)="showsearchdata(4,'Popular Street Food Near You')">
<img src="assets/icon/right-arrow01.png" class="media-circle" style="margin-top: 60px;border-radius: 50%;border: 1px solid #ccc;padding: 27px;">
<p style="font-size: 14px;font-weight:500;" class="Open_Sans_Bold">SEE MORE</p>
</ion-slide>
</ion-slides>
</div>


<div class="page-box slier-box-content mb-10" *ngIf="allow_drink_status==1 && filterRestrauntByTypeAndPopular(0).length>0" >
<div class="page-box-title" text-center><h5>Popular Liquor Shop Near You</h5></div>
<ion-slides class="color-white " [slidesPerView]="1.2">
<ion-slide *ngFor="let merchantItem of filterRestrauntByTypeAndPopular(0)" > 
<ion-card text-left>
<div class="product-home-box" (click)="productListPage(merchantItem)">
<div class="product-home-box-img"><img src="{{dashboardData.seller_url}}{{merchantItem.seller_image}}" ></div>
<div class="product-home-box-content">
<h3>{{merchantItem.se_store_name}}</h3>
<p class="giveMeEllipsis" *ngIf="merchantItem.seller_store_address!=''">{{merchantItem.seller_store_address}}...</p>
<span><ion-icon name="time"></ion-icon> {{merchantItem.seller_deliver_duration}}</span>
</div>
</div>
</ion-card>
</ion-slide>
<ion-slide   (click)="showsearchdata(3,'Popular Liquor Shop Near You')">
<img src="assets/icon/right-arrow01.png" class="media-circle" style="margin-top: 60px;border-radius: 50%;border: 1px solid #ccc;padding: 27px;">
<p style="font-size: 14px;font-weight:500;" class="Open_Sans_Bold">SEE MORE</p>
</ion-slide>
</ion-slides>
</div>


<div class="page-box slier-box-content mb-10" *ngIf="dashboardData.brand && dashboardData.brand.length > 0">
<div class="page-box-title "  text-center><h5>Popular Brands</h5></div>
<ion-slides class="color-white" [slidesPerView]="3.9" >
<ion-slide *ngFor="let brandItem of dashboardData.brand"  (click)="showsearchdata(2,brandItem)" class=""> 
<div >
 <img src="{{dashboardData.brand_url}}{{brandItem.brand_icon}}"  *ngIf="brandItem.brand_icon != ''" class="media-circle ml10" style=""> 
 <img src="../assets/icon/placeholder.jpg"  *ngIf="brandItem.brand_icon == ''" class="media-circle ml10" style=""> 
 <div style="font-size:14px;margin-top:10px;font-weight:500" class="open_sans_semi">{{brandItem.brand_name}}</div>
 </div>
</ion-slide>
</ion-slides>
</div>

<img src="{{dashboardData.slider_url}}{{slider_middle_data[0].slider_image}}" class="mb-10" (click)="openbannerrespect(slider_middle_data[0])" *ngIf="slider_middle_data[0].slider_image!=''">


<div class="page-box slier-box-content mb-10" *ngIf="filterRestrauntByTypeAndPopular(1).length>0">
<div class="page-box-title "  text-center><h5>Popular Restaurant Near You</h5></div>
<ion-slides class="color-white" [slidesPerView]="1.2">
<ion-slide *ngFor="let merchantItem of filterRestrauntByTypeAndPopular(1)" slidesPerView="1.2" (click)="productListPage(merchantItem)" > 
<ion-card text-left>
<div class="product-home-box">
<div class="product-home-box-img"><img src="{{dashboardData.seller_url}}{{merchantItem.seller_image}}" ></div>
<div class="product-home-box-content">
<h3>{{merchantItem.se_store_name}}</h3>
<p class="giveMeEllipsis" *ngIf="merchantItem.seller_store_address!=''">{{merchantItem.seller_store_address}}...</p>
<span><ion-icon name="time"></ion-icon> {{merchantItem.seller_deliver_duration}}</span>
</div>
</div>

</ion-card>

</ion-slide>
  <ion-slide  class="ion-slide-big" (click)="showsearchdata(1,'Popular Restaurant Near You')" >
<img src="assets/icon/right-arrow01.png" class="media-circle" style="margin-top: 60px;border-radius: 50%;border: 1px solid #ccc;padding: 27px;">
<p style="font-size: 14px;font-weight:500;" class="Open_Sans_Bold">SEE MORE</p>
</ion-slide>
</ion-slides>

</div>


<div class="page-box slier-box-content mb-10" *ngIf="dashboardData.category.length>0">
<div class="page-box-title "  text-center><h5>Looking for something else</h5><span>Browse Categories</span></div>



<ion-slides class="color-white " [slidesPerView]="2.8" >
<ion-slide *ngFor="let catItem of dashboardData.category" > 
<ion-card (click)="showsearchdata(0,catItem)" >
<div class="rest-img" >
<img src="{{dashboardData.category_url}}{{catItem.category_icon}}" *ngIf="catItem.category_icon != ''" style="height:85px;">
<img src="assets/imgs/r1.jpg" *ngIf="catItem.category_icon == ''" style="height:85px;">
<div class="overlay"></div>
<div class="rest-info" style="top:15px">
<h6 style="color:#fff" class="open_sans_semi">{{catItem.category_name}}</h6>
</div>
</div>
</ion-card>
</ion-slide>
  
</ion-slides>

</div>

<img src="{{dashboardData.slider_url}}{{slider_middle_data[1].slider_image}}" class="mb-10" (click)="openbannerrespect(slider_middle_data[1])" *ngIf="slider_middle_data[1].slider_image!=''">


<div class="page-box mb-10">
<div class="page-box-title "  text-center><h5>More Near You</h5></div>
<div class="product-home-box" *ngFor="let merchantItem of filterRestrauntByoutclose();let i=index" (click)="productListPage(merchantItem)">
<div class="product-home-box-img"><img src="{{dashboardData.seller_url}}{{merchantItem.seller_image}}">
<div class="overlay-ex" *ngIf="checkrestaurentclosed(merchantItem)"><div class="rs-close">Closed</div></div>
<div class="overlay-ex" *ngIf="getInThisArea(userLocationInfo.lat,userLocationInfo.lng,merchantItem.seller_latitude,merchantItem.seller_longitude) && !checkrestaurentclosed(merchantItem)"><div class="rs-close">Out Of Delivery Area</div></div>

</div>
<div class="product-home-box-content">
<h3>{{merchantItem.se_store_name}}</h3>
<p class="giveMeEllipsis">{{merchantItem.seller_store_address}}...</p>
<span><ion-icon name="time"></ion-icon> {{merchantItem.seller_deliver_duration}}</span>
</div>
</div>
<div class="product-home-box" *ngFor="let merchantItem of filterRestrauntByoutcloselist() | slice:0:10; let i=index" (click)="productListPage(merchantItem)">
<div class="product-home-box-img"><img src="{{dashboardData.seller_url}}{{merchantItem.seller_image}}">
<div class="overlay-ex" *ngIf="checkrestaurentclosed(merchantItem)"><div class="rs-close">Closed</div></div>
<div class="overlay-ex" *ngIf="getInThisArea(userLocationInfo.lat,userLocationInfo.lng,merchantItem.seller_latitude,merchantItem.seller_longitude) && !checkrestaurentclosed(merchantItem)"><div class="rs-close">Out Of Delivery Area</div></div>

</div>
<div class="product-home-box-content">
<h3>{{merchantItem.se_store_name}}</h3>
<p class="giveMeEllipsis" *ngIf="merchantItem.seller_store_address!=''">{{merchantItem.seller_store_address}}...</p>
<span><ion-icon name="time"></ion-icon> {{merchantItem.seller_deliver_duration}}</span>
</div>
</div>

</div>
<img src="{{dashboardData.slider_url}}{{slider_middle_data[2].slider_image}}" class="mb-10" (click)="openbannerrespect(slider_middle_data[2])" *ngIf="slider_middle_data[2]!=undefined && slider_middle_data[2].slider_image!=''">



</div>
</ion-content>
<ion-footer class="ft-footer">
<div class="order-running" (click)="showorderprocessing()" *ngIf="orderprocesStatus">
<ion-list>
  <ion-item style="background:#f2f5fc;" *ngIf="orderCurrentTransInfo.trans_order_status==0">
    <ion-avatar item-start>
	<div class="status-icon">
      <img src="assets/imgs/orderreceived.png" class="status-icon-img">
	  <span>NOW</span>
	  </div>
    </ion-avatar>
	<ion-row>
	<ion-col col-9>
	<div class="order-status-content">
	<h2>Order Received</h2>
    <p>Awaiting restaurants confirmation. Delivery executive will<br> be assign shortly.</p>
	</div>
	</ion-col>
	<ion-col col-3>
	
	</ion-col>
	</ion-row>
    
  </ion-item>
<ion-item style="background:#f2f5fc;" *ngIf="orderCurrentTransInfo.trans_order_status>=1 && orderCurrentTransInfo.trans_order_status<=2">
    <ion-avatar item-start>
	<div class="status-icon">
      <img src="assets/imgs/orderreceived.png" class="status-icon-img">
	  <span>NOW</span>
	  </div>
    </ion-avatar>
	<ion-row>
	<ion-col col-9>
	<div class="order-status-content">
	<h2>Order is Being Prepared</h2>
    <p><b>{{orderCurrentTransInfo.driver_name}}</b> has arrived at restaurant <br>and will pickup your order.</p>
	</div>
	</ion-col>
	<ion-col col-3>
	<div class="call-ion" >
	<a href="tel:{{orderCurrentTransInfo.driver_mobile_number}}"><img src="assets/imgs/call.png"></a>
	</div>
	</ion-col>
	</ion-row>
    
  </ion-item>

  <ion-item style="background:#f2f5fc;" *ngIf="orderCurrentTransInfo.trans_order_status>=3 && orderCurrentTransInfo.trans_order_status<=4">
    <ion-avatar item-start>
	<div class="status-icon">
      <img src="assets/imgs/orderreceived.png" class="status-icon-img">
	  <span>NOW</span>
	  </div>
    </ion-avatar>
	<ion-row>
	<ion-col col-9>
	<div class="order-status-content">
	<h2>Order Picked up</h2>
    <p><b>{{orderCurrentTransInfo.driver_name}}</b> has pickup your Order and  on the way.</p>
	</div>
	</ion-col>
	<ion-col col-3>
	<div class="call-ion">
	<img src="assets/imgs/call.png">
	</div>
	</ion-col>
	</ion-row>
    
  </ion-item>

 
  
  </ion-list>
</div>
<div class="ft-icon active" >
<img src="assets/imgs/near.png">
<span>Near Me</span>
</div>
<div class="ft-icon" (click)="explorePagedata()">
<img src="assets/imgs/search.png">
<span>Explore</span>
</div>
<div class="ft-icon" (click)="myMethoddisclaimer()">
<div class="drinks-box">
<div class="drinks-box-icon">
<img src="assets/imgs/icon-drinks.png">
</div>
</div>
</div>
<div class="ft-icon" (click)="myMethod()">
<img src="assets/imgs/order.png">
<span>Orders</span>
</div>
<div class="ft-icon" (click)="myaccountMethod()">
<img src="assets/imgs/user.png">
<span>Account</span>
</div>
</ion-footer>