<!--
  Generated template for the ChangepasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Forgot Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-bounce class="container-gray" style="padding: 20px;">
<form [formGroup]="forgotPasswordForm">

<ion-card padding>
    <ion-card-content text-center>
       
        <p class="padding-20 mt-10" style="">Please Enter your registered Email address/Contact Number </p>
		<p class="success-msg" *ngIf="editSuccessMsg != ''">{{editSuccessMsg}}</p>
		<ion-item style="margin-bottom: 10px;">
        <ion-label color="lightCCC" stacked>Email / Phone</ion-label>
        <ion-input value="" [formControl]="forgotPasswordForm.controls['username']" class="login-input" #focusInput></ion-input>   
  </ion-item>
       
	   <p class="error" *ngIf="editErrorMsg != ''">{{editErrorMsg}}</p>

		        <button ion-button [color]="primary" [class.active-button]="phoneLength" (click)="forgotPasswordInfo()" class="mb-minus-2 signup-button">Get Reset Link</button>

    </ion-card-content>
</ion-card>



 </form>
</ion-content>
