page-addaddress {
.address-box{
width:100%;
}
.address-box h6{
margin-bottom:0px;
}
.address-box .item-md{
padding-left:0px;
}
.address-box ion-label{
font-size: 12px;
color: #666 !important;
}
.address-save{
width:100%;
margin-top:20px;
}
.address-save span{
font-size:12px;
color:#666;
}
.address-save ul{
margin:0;
padding:0;
list-style:none;
}
.address-save ul li{
display:inline-block;
width:32%;
padding:10px 0px;
}
.address-save ul li ion-radio{
float:left;
margin-right:5px;
}
#map {
		height: 240px;
		display:block !important;
	}
}
