page-orders {
.list-md .item-block .item-inner {
    border-bottom: 0px solid #dedede;
}
.label-md{
margin:0 !important;
}
.list-md {
    margin: 0;
}
.item-block{
min-height: 3.0rem;
}
.ionic3-star-rating[_ngcontent-c0] .button[_ngcontent-c0] ion-icon[_ngcontent-c0] {
    font-size: 18px;
}
.ionic3-star-rating[_ngcontent-c0] .button[_ngcontent-c0] {
    height: 17px;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 17px;
}
}

